@model proekt.ViewModels.CityViewModel


@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2 class="naslov">Guest Houses</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>

    <a asp-action="Create" class="btn btn-outline-dark">Create New</a>
</p>}

<div >
    <form asp-controller="GuestHouses" asp-action="Index" style="margin-bottom:100px;">
    <p>
        <select asp-for="HotelCity" asp-items="Model.Cities">
            <option value="">All cities </option>

        </select>

        <input type="text" asp-for="SearchString" placeholder="Search by name" />
        <input type="submit" class="btn btn-outline-dark btn-sm" value="Filter" />
    </p>

</form>
</div>

<style>
    .card {
        font -family: 'Nunito ', sans -serif;
        background: #fbfafd;
        height: 350px;
        width: 300px;
        float: left;
        margin-left: 40px;
        margin-bottom: 90px;
        margin-top: -70px;
    }

    .naslov {
        color: brown;
    }

    .golemina {
        font-size: small;
    }
</style>
<div class="card-columns">
    @foreach (var item in Model.GuestHouses)
    {
        <div class="card">
            <div class="card-body">
                <div class="img">
                    <img src="@(item.Picture)"
                     height="200" width="95%"
                     asp-append-version="true" />
                </div>
                <p class="golemina">
                    @Html.DisplayFor(modelItem => item.Rating)

                    <span class="fa fa-star"></span>
                    <br>Name: @Html.DisplayFor(modelItem => item.Name)
                    <br>City:  @Html.DisplayFor(modelItem => item.City)
                    <br> Address:  @Html.DisplayFor(modelItem => item.Address)
                    <br> Phone number:  @Html.DisplayFor(modelItem => item.Phone)
                    <br>
                   
                   @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" class="btn btn-outline-dark btn-sm" asp-route-id="@item.Id">Edit</a>

                        <a asp-action="Delete" class="btn btn-outline-dark btn-sm" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" class="btn btn-outline-dark btn-sm" asp-route-id="@item.Id">Details</a>
                </p>
            </div>
        </div>


    }
